DATABASE_URL="mysql://user:password@host:3306/issue_tracker?allowPublicKeyRetrieval=true"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="some-secret"
GOOGLE_CLIENT_ID="some-client"
GOOGLE_CLIENT_SECRET="blah"
